﻿<section class="index-slider">
    <div class="pager__wrapper">
        <div class="container">
            <div class="js-index-slider__pager">
                <a href="" data-slide-index="0"></a>
                <a href="" data-slide-index="1"></a>
                <a href="" data-slide-index="2"></a>
                <a href="" data-slide-index="3"></a>
                <a href="" data-slide-index="4"></a>
            </div>
        </div>
    </div>
    <ul class="js-index-slider">
        <li>
            <img src="/Content/images/slider.jpg" alt="Slide" />
            <div class="index-slider__info">
                <div class="container">
                    <div class="slider__wrapper">
                        <span class="index-slider__title">
                            Новый
                            <p class="green">iPhone 7</p>
                        </span>
                        <span class="index-slider__text">
                            в интернет магазине Электро-Дом
                        </span>
                        <span class="index-slider__descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        </span>
                        <a href="#" class="index-slider__button">Узнать больше</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img src="~/Content/images/slider.jpg" alt="Slide" />
            <div class="index-slider__info">
                <div class="container">
                    <div class="slider__wrapper">
                        <span class="index-slider__title">
                            Новый
                            <p class="green">iPhone 7</p>
                        </span>
                        <span class="index-slider__text">
                            в интернет магазине Электро-Дом
                        </span>
                        <span class="index-slider__descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        </span>
                        <a href="#" class="index-slider__button">Узнать больше</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img src="~/Content/images/slider.jpg" alt="Slide" />
            <div class="index-slider__info">
                <div class="container">
                    <div class="slider__wrapper">
                        <span class="index-slider__title">
                            Новый
                            <p class="green">iPhone 7</p>
                        </span>
                        <span class="index-slider__text">
                            в интернет магазине Электро-Дом
                        </span>
                        <span class="index-slider__descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        </span>
                        <a href="#" class="index-slider__button">Узнать больше</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img src="~/Content/images/slider.jpg" alt="Slide" />
            <div class="index-slider__info">
                <div class="container">
                    <div class="slider__wrapper">
                        <span class="index-slider__title">
                            Новый
                            <p class="green">iPhone 7</p>
                        </span>
                        <span class="index-slider__text">
                            в интернет магазине Электро-Дом
                        </span>
                        <span class="index-slider__descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        </span>
                        <a href="#" class="index-slider__button">Узнать больше</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <img src="~/Content/images/slider.jpg" alt="Slide" />
            <div class="index-slider__info">
                <div class="container">
                    <div class="slider__wrapper">
                        <span class="index-slider__title">
                            Новый
                            <p class="green">iPhone 7</p>
                        </span>
                        <span class="index-slider__text">
                            в интернет магазине Электро-Дом
                        </span>
                        <span class="index-slider__descr">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        </span>
                        <a href="#" class="index-slider__button">Узнать больше</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>