﻿@model electrohouse.Models.products.item

@{
    ViewBag.Title = "Delete";
    Layout = "";

}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priceOld)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priceOld)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isNew)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isNew)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isPopular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPopular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alterPath1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alterPath1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alterPath2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alterPath2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alterPath3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alterPath3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guarantee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guarantee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
