﻿@model electrohouse.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";

}

<article>
    <section class="tabs">
        <ul class="nav nav-tabs">
            <li id="Login"><a href="@Url.Action("Login")" >Авторизация</a></li>
            <li class="active"><a href="@Url.Action("Register")" >Регистрация</a></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="tab-content">
                    <div class="tab-pane" id="login">
                        <div class="login">
                            @{
                                    }
                        </div><!--LOGIN FORM-->
                    </div>
                    <div class="tab-pane active" id="registration">
                        <div class="registration">
                            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                            @Html.AntiForgeryToken()
                            <h2 class="form-signin-heading">Регистрация</h2>

                                @Html.ValidationSummary("", new { @class = "text-danger" })

                                @Html.LabelFor(m => m.Login, new { @class = "sr-only" })
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Login" })

                                
                                
                                @Html.LabelFor(m => m.Password, new { @class = "sr-only" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })

                                
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })       
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword" })

                                @Html.LabelFor(m => m.Number, new { @class = "sr-only" })
                                @Html.TextBoxFor(m => m.Number, new { @class = "form-control", placeholder = "PhoneNumber" })

                                

                                @Html.LabelFor(m => m.Email, new { @class = "sr-only" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                <p class="error__field"></p>
                                <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
                             }
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>

<!--

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создайте новую учетную запись.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Регистрация" />
        </div>
    </div>
}
-->



@section Scripts {
   
    @Scripts.Render("~/bundles/jqueryval")
}
