﻿
@{
    ViewBag.Title = "Answers";
}

<article>
    <section class="questions">
        <div class="container">
            <div class="breadcrumbs"><a href="/">Главная > </a>Вопросы и ответы</div>
            <ul class="questions__list">
                <li>
                    <a>
                        Осуществляете ли Вы доставку до квартиры и подъем на этаж?
                    </a>
                    <p>
                        Пожалуйста, обратите внимание, что адресная доставка осуществляется до входа в здание.
                        Крупногабаритные товары , а так же товары из раздела «Бытовая техника» доставляются до квартиры.
                        Стоимость ручного заноса в квартиру зависит от: габаритов техники, сложности подъема и наличия лифта (куда товар помещается в упаковке).
                    </p>
                </li>
                <li>
                    <a>
                        Сколько дней товар находится в пункте выдачи?
                    </a>
                    <p>
                        В отделении курьерской службы «Новая Почта» заказ будет находиться в течении 5 дней.
                        По истечению данного срока, товар возвращается отправителю.
                    </p>
                </li>
                <li>
                    <a>
                        Требуется ли дополнительная оплата за перевод средств при наложенном платеже в отделении Новой Почты?
                    </a>
                    <p>
                        Дополнительная оплата за пересылку средств при наложенном платеже с вашей стороны не требуется.
                        Стоимость заказа, указанная при подтверждении заказа, является окончательной.
                    </p>
                </li>
                <li>
                    <a>
                        Есть ли возможность отказаться от части заказа в пункте выдачи?
                    </a>
                    <p>
                        К сожалению, возможности отказаться от части заказа нет. Вы можете отказаться от неактуального заказа полностью и оформить новую заявку.
                    </p>
                </li>
                <li>
                    <a>
                        Возможно ли оплатить заказ картой при получении?
                    </a>
                    <p>
                        В данный момент, к сожалению, отсутствует возможность оплатить заказ платежной картой при получении (с помощью POS-терминала).
                        Однако, Вы можете оплатить заказ онлайн картой Visa и MasterCard или оформить заказ с указанием безналичной формы оплаты.
                        Уточняем, что услуга оплаты картой доступна только при оформлении заказа на нашем сайте.
                        Для этого, при оформлении заказа у нас сайте, Вам необходимо выбрать соответствующий вид оплаты.
                        После оформления заявки на сайте — наш менеджер свяжется с Вами для уточнения информации относительно доставки Вашего заказа.
                    </p>
                </li>
            </ul>
            <form class="questions__form" action="/api/Questions" method="post" id="questionizer">
                <textarea name="question" id="question" cols="30" rows="10" placeholder="Ваш вопрос" required=""></textarea>
                <input type="submit" name="submit" value="Задать вопрос" onclick="askQuestion()">
            </form>



        </div>
    </section>
</article>

