﻿@using electrohouse.Models.products
@model Order
@{
    ViewBag.Title = "Basket";
}

<article>
    <section class="basket__wrapper">
        <div class="container">
            <div class="basket__field">
                <span>Ваша корзина:</span>
                @if (Model == null)
                {
                <span class="empty__basket">В вашей корзине нет товаров</span><!--ЕСЛИ КОРЗИНА ПУСТА ВЫВОДИТ ЭТУ СТРОКУ-->
                }
                else
                { 
                <div class="basket__all">
                    <div class="basket__heading">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <p class="basket__heading-img">Товар</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <p class="basket__heading-caption">Название товара</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <p class="basket__heading-price">Стоимость (грн.)</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <p class="basket__heading-num">Количество</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <p class="basket__heading-total">Сумма (грн.)</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <p class="basket__heading-del">Убрать</p>
                            </div>
                        </div>
                    </div>
                    <div class="basket__items">
                       
                        @foreach (var item in Model.items)
                        {
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <img src="@item.value.path" alt="Item">
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <p class="basket__info">@item.value.brand<strong> @item.value.name</strong></p><!--НАЗВАНИЕ ТОВАРА ВНУТРИ STRONG-->
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <span class="basket__price">Цена: <strong>@item.value.price</strong></span><!--ЦЕНА ТОВАРА-->
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="basket__nums">
                                        <button class="plus" onclick="addItemToBasketPage(@item.value.ID.ToString())">
                                            +
                                        </button>
                                        <button class="minus" onclick="deleteItemFromBasketPage(@item.value.ID.ToString())">
                                            -
                                        </button>
                                        <input type="number" name="@item.value.ID.ToString()" value="@item.count.ToString()" min="0">
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="basket__tot">
                                        Всего:<br> <strong id="@item.value.ID">@(item.count*item.value.price)</strong><!--ИТОГОВАЯ ПОДСЧЕТ КОЛИЧЕСТВО*ЦЕНА-->
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <a class="basket__dels" href="Javascript:deleteFullItem(@item.value.ID.ToString())"><i class="fa fa-times" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            }

                    </div>
                    <div class="details">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 cl-sm-7 col-xs-5">
                                <span class="totaled">Итого: <strong id="basketPricePage">@Model.totalPrice</strong> грн.</span><!--ИТОГОВАЯ ЦЕНА-->
                            </div>
                            <div class="col-lg-5 col-md-5 cl-sm-5 col-xs-7">
                                <a class="delivery" href="@Url.Action("Checkout")">Оформить заказ</a>
                            </div>
                        </div>
                    </div>
                        
                </div>
                 }
            </div>
        </div>
    </section>
</article>

