﻿@using electrohouse.Models.products
@model List<item>
@{

    
}

<article>
    <section class="catalog">
        <div class="filter">
            <div class="container">
                <div class="filter__wrap">
                    <form method="post" action="@Url.Action("Category", new {q = ViewBag.q, page = 1 })">
                        <ul>
                            <li>
                                Производители
                                <ul class="vendors">
                                    @foreach (var item in ViewBag.brands)
                                    {
                                        <li><div>
                                                <input id="@item.name" type="checkbox" value="true" name="@item.name" />
                                                <!--<input type="hidden" value="false" name="@item.name" id="@item.name" /> -->
                                                <label id="@item.name" >@item.name</label>
                                        </div></li>
                                    }                                    
                                </ul>
                            </li>
                            <li class="filter__price">
                                <span>Диапазон цен</span>
                                <div class="slide__wrapper">
                                    <input class="form-control" name="price" id="price">
                                    <div id="slider-range"></div>

                                </div>
                            </li>
                            <li class="in">
                                <input type="checkbox" name="in">В наличии
                                <input type="hidden" value="false" name="in" />

                            </li>                           
                            <li class="filter__buttons">
                                <input type="submit" value="Применить">
                                <a class="close__button">Отмена</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="breadcrumbs"><a href="/">Главная ></a> <a href="/category.html">Категории > </a>Смартфоны и планшеты</div>
            <div class="catalog__options">
                <div class="catalog__filter">Фильтр товаров</div>
                <div class="catalog__sorting">
                    Сортировать по:
                    <a>
                        Рейтингу
                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </a>
                    <ul class="catalog__list">
                        <li>@Html.ActionLink("-", "Category", new { q = ViewBag.q.ToString(), page = 1, sort = "none" })</li>
                        <li>@Html.ActionLink("Рейтингу", "Category", new { q = ViewBag.q.ToString(), page = 1, sort = "rating" })</li>
                        <li>@Html.ActionLink("Цене(возрастание)", "Category", new { q = ViewBag.q.ToString(), page = 1, sort = "upprice" })</li>
                        <li>@Html.ActionLink("Цене(убывание)", "Category", new { q = ViewBag.q.ToString(), page = 1, sort = "downprice" })</li>
                        <li>@Html.ActionLink("Отзывам", "Category", new { q = ViewBag.q.ToString(), page = 1, sort = "comments" })</li>

                        




                        <!--
                    <li><a href="@(Url.Action().ToString()+"/?sort=none")">-</a></li>
                    <li><a href="@(Url.Action().ToString()+"/?sort=rating")">Рейтингу</a></li>
                    <li><a href="@(Url.Action())/?sort=price">Цене</a></li>
                    <li><a href="@(Url.Action())/?sort=reviews">Отзывам</a></li>
                    <li><a href="@(Url.Action())/?sort=likes">Лайкам</a></li>
                    -->
                    </ul>
                </div>
            </div>
            @if (Model != null)
            { 
            if (Model.Count != 0)
            {
                <div class="row">
                @for (int i = ViewBag.start; i < ViewBag.end; i++)
                {
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
                    <div class="catalog__wrapper">                                                
                                 @if (Model[i].isStock == true)
                                 {
                                    <div class="catalog__action"></div>
                                    <span class="catalog__icon"></span>
                                 }
                                 else if (Model[i].isNew == true)
                                 {
                                    <div class="catalog__action"></div>
                                    <span class="catalog__icon new"></span>
                                 }
                                 else if (Model[i].isPopular == true)
                                 {
                                    <div class="catalog__action"></div>
                                    <span class="catalog__icon popul"></span>
                                 }

                                @if (Model[i].available)
                                {
                                    <p class="catalog__in">Есть в наличии</p>
                                }
                                <img src="@Model[i].path" alt="Phone">
                                <a href="@Url.Action("Item", "Home", new { q = Model[i].ID.ToString()})">
                                    <p class="catalog__caption">
                                        @Model[i].CategoryName
                                        <strong>@Model[i].name</strong>
                                    </p>
                                </a>
                                <div class="catalog__prices">
                                    @if (Model[i].isStock)
                                    {
                                        <p class="catalog__old-price">@Model[i].priceOld</p>
                                        <p class="catalog__new-price">Цена: <strong>@Model[i].price</strong></p>
                                    }
                                    else
                                    {
                                        <p class="catalog__new-price">Цена: <strong>@Model[i].price</strong></p>
                                    }
                                </div>
                                <div class="catalog__buttons">
                                    <button class="catalog__likes">@Model[i].likes</button>
                                    <button class="catalog__buy" onclick="addItemToBasket(@Model[i].ID.ToString())">Купить<span></span></button>

                                </div>
                            </div>
                        </div>
                        }
                </div>
                <div class="catalog__nav">
                    <ul>
                        <li><a href="@(Url.Action("Category", "Home", new { q = ViewBag.q, page = 1, sort = ViewBag.sort, config = ViewBag.filter }))"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
                        @{
                            if (ViewBag.pageStart)
                            {
                                <li><a>...</a></li>

                            }
                            for (int j = ((ViewBag.pageStart) ? ViewBag.page - 2 : 1);
                                    j < ((ViewBag.pageEnd) ? ViewBag.page + 3 : ViewBag.pagesCount + 1);
                                    j++)
                            {



                                if (j != ViewBag.page)
                                {
                                    <li>
                                            @Html.ActionLink(j.ToString(), "Category", new { q = ViewBag.q.ToString(), page = j, sort = ViewBag.sort, config = ViewBag.filter })

                                    </li>
                                }
                                else
                                {
                                    <li class="active-page"><a>@j</a></li>
                                }
                            }
                            if (ViewBag.pageEnd)
                            {
                                <li><a>...</a></li>

                            }
                        }

                        <li><a href="@(Url.Action("Category", "Home", new { q = ViewBag.q, page = ViewBag.pagesCount, sort = ViewBag.sort, config = ViewBag.filter }))"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                        }
                        else
                        {
                            <div>Товаров по вашему запросу не найдено</div>
                        }
                    }
                    else
                    {
                    <div>Товаров по вашему запросу не найдено</div>
                    }


            </section>
        </article>
