﻿@{
    ViewBag.Title = "Checkout";
}
@using electrohouse.Models

<article>
    <section class="checkout">
        <div class="container">
            <div class="breadcrumbs"><a href="/">Главная > Корзина > </a>Оформление заказа</div>
            <div class="checkout__form">                
                <form class="form-signin" action="@Url.Action("makeOrder")">
                    <!--ДЛЯ НЕЗАРЕГАНЫХ ПОЛЬЗОВАТЕЛЕЙ-->
                    
                    <h2 class="form-signin-heading">Заполните необходимые данные</h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="name" required="" autofocus="" placeholder="Ваше имя" value="@User.Identity.Name">
                            <input type="email" name="email" required="" placeholder="Ваш email" value="@ViewBag.email">
                            <input type="tel" name="phone" required="" placeholder="Телефон" @ViewBag.phone>
                            <input type="text" name="town" required="" placeholder="Город" value="@User.Identity.GetTown()">
                            <label for="buy">Выберите способ оплаты</label>
                            <select name="buy" id="buy">
                                <option selected value="1">Наличными</option>
                                <option value="2">Безналичными</option>
                                <option value="3">Кредит</option>
                                <option value="4">Visa/MasterCard</option>
                            </select>
                            <label for="deliv">Выберите способ доставки</label>
                            <select name="deliv" id="deliv">
                                <option value="1">Самовывоз и Новой Почты</option>
                                <option value="2">Самовывоз из точки выдачи</option>
                                <option value="3">Курьер Новая Почта</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <textarea name="comment" rows="10" placeholder="Ваш комментарий"></textarea>
                        </div>
                    </div>
                    <input type="submit" name="submit" value="Отправить">
                </form>
            </div>
        </div>
    </section>
</article>

