﻿@{
    ViewBag.Title = "Index";
    ViewBag.a = "</li><li>";
    ViewBag.b = "</li>";
}
<article>
    <section class="new-items">
        <div class="container">
            <a href="" class="new-items__title">
                <h2>Новые поступления<i class="fa fa-angle-right" aria-hidden="true"></i></h2>
            </a>
            <div class="row">
                <ul class="items-slider">
                    <li>
                        @{int i = 0;
                            foreach (var item in ViewBag.newItems)
                            {
                                i++;
                                if (i > 12)
                                {
                                    break;
                                }
                                <div class="col-lg-3">
                                   <div class="item">
                                        <a href="@Url.Action("Item", "Home", new { q = item.ID.ToString()})">
                                            <h3 class="item__caption">
                                                @item.CategoryName
                                                <span class="item__name">@item.name</span>
                                            </h3>
                                        </a>
                                        <img src="@item.path" alt="Item" class="item__picture">
                                        <span>@item.price <span class="item__price">грн.</span></span>
                                        <a id="addItem" onclick="Javascript:addItemToBasket(@item.ID.ToString())" class="item__button">
                                            <div class="cta">Купить</div>
                                            <span class="item__icon"></span>
                                        </a>
                                    </div>
                                </div>

                                if (i % 4 == 0)
                                { @Html.Raw(ViewBag.a);
                                }

                            }
                        }
                    </li>


                </ul>
                @{ int pagesCount = (ViewBag.newItems.Count % 4 == 0) ? (ViewBag.newItems.Count / 4) : (ViewBag.newItems.Count / 4 + 1);}
                <div class="item-slider__pager">
                    @for (int j = 0; j < pagesCount; j++)
                    {
                        if (j > 2)
                        {
                            break;
                        }
                        <a href="" data-slide-index="@j"></a>
                    }

                </div>
            </div>
        </div>
    </section><!--NewArrival1 goto-->
    <section class="new-items-medium">
        <div class="container">
            <a href="@Url.Action("Category","Home", new { category="New"})" class="new-items__title">
                <h2>Новые поступления<i class="fa fa-angle-right" aria-hidden="true"></i></h2>
            </a>
            <div class="row">
                <ul class="items-slider">
                    <li>
                        @{i = 0;
                            foreach (var item in ViewBag.newItems)
                            {
                                i++;
                                if (i > 12)
                                {
                                    break;
                                }
                                <div class="col-md-3">
                                    <div class="item">
                                        <a href="@Url.Action("Item", "Home", new { q = item.ID.ToString()})">
                                            <h3 class="item__caption">
                                                @item.CategoryName
                                                <span class="item__name">@item.name</span>
                                            </h3>
                                        </a>
                                        <img src="~/Content/images/item.png" alt="Item" class="item__picture">
                                        <span>@item.price <span class="item__price">грн.</span></span>
                                        <a id="addItem" onclick="Javascript:addItemToBasket(@item.ID.ToString())" class="item__button">
                                            <div class="cta">Купить</div>
                                            <span class="item__icon"></span>
                                        </a>
                                    </div>
                                </div>
                                if (i % 4 == 0)
                                { @Html.Raw(ViewBag.a);
                                }

                            }
                        }
                    </li>

                </ul>
                @{ pagesCount = (ViewBag.newItems.Count % 4 == 0) ? (ViewBag.newItems.Count / 4) : (ViewBag.newItems.Count / 4 + 1);}
                <div class="item-slider__pager">
                    @for (int j = 0; j < pagesCount; j++)
                    {
                        if (j > 2)
                        {
                            break;
                        }
                        <a href="" data-slide-index="@j"></a>
                    }

                </div>
            </div>
        </div>
    </section><!--NewArrival1 goto-->
    <section class="new-items-small">
        <div class="container">
            <a href="@Url.Action("Category","Home", new { category="New"})" class="new-items__title">
                <h2>Новые поступления<i class="fa fa-angle-right" aria-hidden="true"></i></h2>
            </a>
            <div class="row">
                <ul class="items-slider">
                    <li>
                        @{i = 0;
                            foreach (var item in ViewBag.newItems)
                            {
                                i++;
                                if (i > 9)
                                {
                                    break;
                                }
                                <div class="col-sm-4">
                                    <div class="item">
                                        <a href="@Url.Action("Item", "Home", new { q = item.ID.ToString()})">
                                            <h3 class="item__caption">
                                                @item.CategoryName
                                                <span class="item__name">@item.name</span>
                                            </h3>
                                        </a>
                                        <img src="~/Content/images/item.png" alt="Item" class="item__picture">
                                        <span>@item.price <span class="item__price">грн.</span></span>
                                        <a id="addItem" onclick="Javascript:addItemToBasket(@item.ID.ToString())" class="item__button">
                                            <div class="cta">Купить</div>
                                            <span class="item__icon"></span>
                                        </a>
                                    </div>
                                </div>
                                if (i % 3 == 0)
                                { @Html.Raw(ViewBag.a);
                                }

                            }
                        }
                    </li>

                </ul>
                @{ pagesCount = (ViewBag.newItems.Count % 3 == 0) ? (ViewBag.newItems.Count / 3) : (ViewBag.newItems.Count / 3 + 1);}
                <div class="item-slider__pager">
                    @for (int j = 0; j < pagesCount; j++)
                    {
                        if (j > 2)
                        {
                            break;
                        }
                        <a href="" data-slide-index="@j"></a>
                    }

                </div>
            </div>
        </div>
    </section><!--NewArrival1 goto-->
    <section class="new-items-extra">
        <div class="container">
            <a href="@Url.Action("Category","Home", new { category="New"})" class="new-items__title">
                <h2>Новые поступления<i class="fa fa-angle-right" aria-hidden="true"></i></h2>
            </a>
            <div class="row">
                <ul class="items-slider">
                    <li>


                        @{i = 0;
                            foreach (var item in ViewBag.newItems)
                            {
                                i++;
                                if (i > 6)
                                {
                                    break;
                                }
                                <div class="col-xs-6">
                                    <div class="item">
                                        <a href="@Url.Action("Item", "Home", new { q = item.ID.ToString()})">
                                            <h3 class="item__caption">
                                                @item.CategoryName
                                                <span class="item__name">@item.name</span>
                                            </h3>
                                        </a>
                                        <img src="~/Content/images/item.png" alt="Item" class="item__picture">
                                        <span>@item.price <span class="item__price">грн.</span></span>
                                        <a id="addItem" onclick="Javascript:addItemToBasket(@item.ID.ToString())" class="item__button">
                                            <div class="cta">Купить</div>
                                            <span class="item__icon"></span>
                                        </a>
                                    </div>
                                </div>
                                if (i % 2 == 0)
                                { @Html.Raw(ViewBag.a);
                                }

                            }
                        }
                    </li>

                </ul>

                @{ pagesCount = (ViewBag.newItems.Count % 2 == 0) ? (ViewBag.newItems.Count / 2) : (ViewBag.newItems.Count / 2 + 1);}
                <div class="item-slider__pager">
                    @for (int j = 0; j < pagesCount; j++)
                    {
                        if (j > 2)
                        {
                            break;
                        }
                        <a href="" data-slide-index="@j"></a>
                    }

                </div>
            </div>
        </div>
    </section><!--NewArrival1 goto-->
    <section class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="parallax__text">
                        <span class="parallax__bolder">Подпишитесь</span> на рассылку новостей
                        и будьте в курсе всего самого нового
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="parallax__form">
                        <form action="/api/Subscribe" method="post" id="subscriber">
                            <input type="email" name="email" id="email" placeholder="Ваш email" />
                            <input type="submit" name="submit" value="Подписаться" onclick="subscribe()"  />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!--FolowUs goto-->
    <section class="new-items">
        <div class="container">
            <a href="@Url.Action("Category","Home", new { category="Popular"})" class="new-items__title">
                <h2>Популярные товары<i class="fa fa-angle-right" aria-hidden="true"></i></h2>
            </a>
            <div class="row">
                <ul class="items-slider-popular">
                    <li>
                        @{i = 0;
                            foreach (var item in ViewBag.popularItems)
                            {
                                i++;
                                if (i > 12)
                                {
                                    break;
                                }
                                <div class="col-lg-3">
                                    <div class="item">
                                        <a href="@Url.Action("Item", "Home", new { q = item.ID.ToString()})">
                                            <h3 class="item__caption">
                                                @item.CategoryName
                                                <span class="item__name">@item.name</span>
                                            </h3>
                                        </a>
                                        <img src="@item.path" alt="Item" class="item__picture">
                                        <span>@item.price <span class="item__price">грн.</span></span>
                                        <a id="addItem" onclick="Javascript:addItemToBasket(@item.ID.ToString())" class="item__button">
                                            <div class="cta">Купить</div>
                                            <span class="item__icon"></span>
                                        </a>
                                    </div>
                                </div>
                                if (i % 4 == 0)
                                { @Html.Raw(ViewBag.a);
                                }

                            }
                        }
                    </li>
                </ul>
                @{ pagesCount = (ViewBag.popularItems.Count % 4 == 0) ? (ViewBag.popularItems.Count / 4) : (ViewBag.popularItems.Count / 4 + 1);}
                <div class="item-slider__pager">
                    @for (int j = 0; j < pagesCount; j++)
                    {
                        if (j > 2)
                        {
                            break;
                        }
                        <a href="" data-slide-index="@j"></a>
                    }

                </div>
            </div>
        </div>
    </section><!--Popular goto-->
    <section class="new-items-medium">
        <div class="container">
            <a href="@Url.Action("Category","Home", new { category="Popular"})" class="new-items__title">
                <h2>Популярные товары<i class="fa fa-angle-right" aria-hidden="true"></i></h2>
            </a>
            <div class="row">
                <ul class="items-slider-popular">
                    <li>
                        @{i = 0;

                            foreach (var item in ViewBag.popularItems)
                            {
                                i++;
                                if (i > 12)
                                {
                                    break;
                                }
                                <div class="col-md-3">
                                    <div class="item">
                                        <a href="@Url.Action("Item", "Home", new { q = item.ID.ToString()})">
                                            <h3 class="item__caption">
                                                @item.CategoryName
                                                <span class="item__name">@item.name</span>
                                            </h3>
                                        </a>
                                        <img src="@item.path" alt="Item" class="item__picture">
                                        <span>@item.price <span class="item__price">грн.</span></span>
                                        <a id="addItem" onclick="Javascript:addItemToBasket(@item.ID.ToString())" class="item__button">
                                            <div class="cta">Купить</div>
                                            <span class="item__icon"></span>
                                        </a>
                                    </div>
                                </div>
                                if (i % 4 == 0)
                                { @Html.Raw(ViewBag.a);
                                }

                            }
                        }

                    </li>
                </ul>
                @{ pagesCount = (ViewBag.popularItems.Count % 4 == 0) ? (ViewBag.popularItems.Count / 4) : (ViewBag.popularItems.Count / 4 + 1);}
                <div class="item-slider__pager">
                    @for (int j = 0; j < pagesCount; j++)
                    {
                        if (j > 2)
                        {
                            break;
                        }
                        <a href="" data-slide-index="@j"></a>
                    }

                </div>
            </div>
        </div>
    </section><!--Popular goto-->
    <section class="new-items-small">
        <div class="container">
            <a href="@Url.Action("Category","Home", new { category="Popular"})" class="new-items__title">
                <h2>Популярные товары<i class="fa fa-angle-right" aria-hidden="true"></i></h2>
            </a>
            <div class="row">
                <ul class="items-slider-popular">
                    <li>
                        @{i = 0;
                            foreach (var item in ViewBag.popularItems)
                            {
                                i++;
                                if (i > 9)
                                {
                                    break;
                                }
                                <div class="col-sm-4">
                                    <div class="item">
                                        <a href="@Url.Action("Item", "Home", new { q = item.ID.ToString()})">
                                            <h3 class="item__caption">
                                                @item.CategoryName
                                                <span class="item__name">@item.name</span>
                                            </h3>
                                        </a>
                                        <img src="@item.path" alt="Item" class="item__picture">
                                        <span>@item.price <span class="item__price">грн.</span></span>
                                        <a id="addItem" onclick="Javascript:addItemToBasket(@item.ID.ToString())" class="item__button">
                                            <div class="cta">Купить</div>
                                            <span class="item__icon"></span>
                                        </a>
                                    </div>
                                </div>
                                if (i % 3 == 0)
                                { @Html.Raw(ViewBag.a);
                                }

                            }
                        }

                    </li>
                </ul>
                @{ pagesCount = (ViewBag.popularItems.Count % 2 == 0) ? (ViewBag.popularItems.Count / 2) : (ViewBag.popularItems.Count / 2 + 1);}
                <div class="item-slider__pager">
                    @for (int j = 0; j < pagesCount; j++)
                    {
                        if (j > 2)
                        {
                            break;
                        }
                        <a href="" data-slide-index="@j"></a>
                    }

                </div>


            </div>
        </div>
    </section><!--Popular goto-->
    <section class="new-items-extra">
        <div class="container">
            <a href="@Url.Action("Category","Home", new { category="Popular"})" class="new-items__title">
                <h2>Популярные товары<i class="fa fa-angle-right" aria-hidden="true"></i></h2>
            </a>
            <div class="row">
                <ul class="items-slider-popular">

                    <li>
                        @{i = 0;
                            foreach (var item in ViewBag.popularItems)
                            {
                                i++;
                                if (i > 6)
                                {
                                    break;
                                }
                                <div class="col-xs-6">
                                    <div class="item">
                                        <a href="@Url.Action("Item", "Home", new { q = item.ID.ToString()})">
                                            <h3 class="item__caption">
                                                @item.CategoryName
                                                <span class="item__name">@item.name</span>
                                            </h3>
                                        </a>
                                        <img src="@item.path" alt="Item" class="item__picture">
                                        <span>@item.price <span class="item__price">грн.</span></span>
                                        <a id="addItem" onclick="Javascript:addItemToBasket(@item.ID.ToString())" class="item__button">
                                            <div class="cta">Купить</div>
                                            <span class="item__icon"></span>
                                        </a>
                                    </div>
                                </div>

                                if (i % 2 == 0)
                                { @Html.Raw(ViewBag.a);
                                }

                            }
                        }

                    </li>
                </ul>
                @{ pagesCount = (ViewBag.popularItems.Count % 2 == 0) ? (ViewBag.popularItems.Count / 2) : (ViewBag.popularItems.Count / 2 + 1);}
                <div class="item-slider__pager">
                    @for (int j = 0; j < pagesCount; j++)
                    {
                        if (j > 2)
                        {
                            break;
                        }
                        <a href="" data-slide-index="@j"></a>
                    }

                </div>
            </div>

        </div>
    </section><!--Popular goto-->
    <section class="seo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="seo__caption">Интернет-магазин Электро-Дом</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                    <p>Voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                </div>
            </div>
        </div>
    </section>
</article>
